<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/aos.css" >
    <link rel="stylesheet" href="css/technol.css" >

    <title>Technol</title>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/anime.min.js"></script>
    <script src="js/aos.js" ></script>
  </head>


  <body>
    <header class="row mx-auto" style="width:90%;">
      <div class=" col-12 col-md-3 logo-container">
        <a href="homePage.html"><img src="images/logo.png" alt="Technol"></a>
      </div>
      <h4 class=" col-12 col-md-7 mt-2 header-text text-justify font-italic"> "Technol is FOR the students, BY the students
      and TO the students." </h4>

      <div class="col-md-2 social-icon-container d-flex justify-content-end align-items-center">
        <a href="https://www.facebook.com/Technolsol/" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/color/48/000000/facebook-circled.png">
        </a>
        <a href="https://twitter.com/Technolsol" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/nolan/64/000000/twitter.png">
        </a>
        <a href="https://www.youtube.com/channel/UCAP_bgDLLBUjicukBSy42yQ" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/bubbles/50/000000/youtube.png">
        </a>
      </div>
    </header>

    <div class="intro-container mx-auto">
      <div class="intro-text-container">
      </div>
    </div>

    <nav class="mx-auto">
      <ul class="nav-links d-flex flex-wrap  justify-content-center">
        <li><a class="nav-link" href="homePage.html">Home</a></li>
        <li><a class="nav-link" href="services.html">Services</a></li>
        <li><a class="nav-link" href="history.html">History</a></li>
        <li><a class="nav-link" href="training.html">Training</a></li>
        <li><a class="nav-link" href="about us.html">About Us</a></li>
      </ul>
    </nav>

<div class="about-us-main-container">
    <div class="container my-4 py-4">
      <div class="row">
        <div class="col-12 col-md-4 mt-3 custom-border-right">
          <div class="d-flex justify-content-center">
            <img src="images/about1.png">
          </div>
          <div class="mt-4 text-justify">
            The first and foremost step in the TECHNOL way of life is to learn the best of the Technologies.
            Technol has an environment that enables the student to learn about the most in-demand and latest technologies
            and platforms in the most  practically oriented way possible. We have an experienced teaching team with
            a lot of experience in their respective fields. Our project based approach to teaching is one of
            its kind and is revolutionizing Teaching in its own way.
          </div>
        </div>

        <div class="col-12 col-md-4 mt-3 custom-border-right">
          <div class="d-flex justify-content-center">
            <img src="images/about2.png">
          </div>
          <div class="mt-4 text-justify">
            There is no use of learning a technology if that can not be put in to use for building something out of it.
            The Technol way of learning allows the students to actually do the work hands on through Internship
             opportunities. The Technol internships are not like regular internships. Our Interns work on
            Company projects and in the process Learn and Build all at the same time. So do not wait up kick off
            your career with an Internship with us.
          </div>
        </div>

        <div class="col-12 col-md-4 mt-3">
          <div class="d-flex justify-content-center">
            <img src="images/about3.png">
          </div>
          <div class="mt-4 text-justify">
            We at TECHNOL believe that the students have immense potential which needs the right kind of environment
            to boom to its fullest. Technol provides the students with the Best possible Trainings and then helps
            them in implementing their leaning to solve real world problems by getting hands on actual projects
            which provides an overall Development to the student. Technol is the best platform for every student to
            fully realise his/her potential to the fullest.
          </div>
        </div>
      </div>
    </div>
    </div>

    <section class="row footer w-100 mx-0">
        <address class="col-md-3 col-12">
            <div class="address-header">India office</div>
            <div class="address-body">
              <div>Jammu - Akhnoor highway </div>
              <div> Akhnoor </div>
              <div> 181122 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-header">Nepal office</div>
            <div class="address-body">
              <div> Jahada Road </div>
              <div> Biratnagar-13 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-mail-id"> <a href="mailto:technol.ltd@gmail.com">technol.ltd@gmail.com</a> </div>
            <div> +91 9149673464 </div>
            <div>+977 9840641513 </div>
            <div>+977 9815774674 </div>
        </address>

      <div class="col-3 text-right">
        <button class="contact-us-button btn"  data-toggle="modal" data-target="#contactModal"> Contact Us </button>

        <!-- The Modal -->
        <div class="modal" id="contactModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <!-- Modal body -->
              <div class="modal-body">
                <button type="button" class="close mb-2" data-dismiss="modal">&times;</button>

                <form id="contactForm" class="text-center">
                  <div class="form-group">
                    <input type="text" id="firstName" name="firstName" class="form-control contact-us-form-element" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" id="emailAddress" name="emailAddress" class="form-control contact-us-form-element" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control contact-us-form-element" placeholder="Phone Number">
                  </div>
                  <div class="form-group">
                    <textarea id="subject" name="subject" class="form-control contact-us-form-element" placeholder="Write something..."></textarea>
                  </div>
                  <div class="contact-us-form-element-element">
                    <button class="btn" id="contact-send-button"> Send </button>
                    <button class="btn" id="contact-cancel-button"> Cancel </button>
                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>
  </body>

  <script>
    AOS.init();
    $(".intro-container").css("background-image", "url('/F:/Technol/images/about_us.jpg')");

  </script>

</html>
