<!doctype html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" >
    <link rel="stylesheet" href="{% static 'css/technol.css' %}" >

    <title>Technol</title>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/anime.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}" ></script>
  </head>


  <body>

    <header class="row mx-auto" style="width:90%;">
      <div class=" col-12 col-md-3 logo-container">
        <a href="homePage.html"><img src="{% static 'images/logo.png' %}" alt="Technol"></a>
      </div>
      <h4 class=" col-12 col-md-7 mt-2 header-text text-justify font-italic"> "Technol is FOR the students, BY the students
      and TO the students." </h4>

      <div class="col-md-2 social-icon-container d-flex justify-content-end align-items-center">
        <a href="https://www.facebook.com/Technolsol/" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/color/48/000000/facebook-circled.png">
        </a>
        <a href="https://twitter.com/Technolsol" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/nolan/64/000000/twitter.png">
        </a>
        <a href="https://www.youtube.com/channel/UCAP_bgDLLBUjicukBSy42yQ" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/bubbles/50/000000/youtube.png">
        </a>
      </div>
    </header>

    <div class="intro-container mx-auto">

    </div>

    <nav class="mx-auto">
      <ul class="nav-links d-flex flex-wrap  justify-content-center">
        <li><a class="nav-link" href="homePage.html">Home</a></li>
        <li><a class="nav-link" href="services.html">Services</a></li>
        <li><a class="nav-link" href="history.html">History</a></li>
        <li><a class="nav-link" href="training.html">Training</a></li>
        <li><a class="nav-link" href="about us.html">About Us</a></li>
      </ul>
    </nav>

    <div class="mx-auto why-technol-container ">
      <h1 class="why-technol-container-text mt-3 d-flex justify-content-center w-100">
        <span class="text-wrapper">
          <span class="letters">WHY TECHNOL?</span>
          <span class="line"></span>
        </span>
      </h1>
    </div>

    <div class="w-90 mx-auto">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-head-text"> SOLUTIONS FOR ALL</div>
            <div class="card-image">
              <img src="https://img.icons8.com/color/48/000000/idea-sharing.png">
            </div>
            <div class="card-body-text">
              <div>TECHNOL is technology for all. </div>
              <div>   Whether your are a student looking to get your hands on these technologies or an organization
                looking to get technological solutions in various domains.
                Technol is there to help you.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-head-text"> REVOLUTIONARY</div>
            <div class="card-image">
              <img src="https://img.icons8.com/color/48/000000/clenched-fist.png">
            </div>
            <div class="card-body-text">
              <div> Technol is revolutionizing the way students get trained.</div>
              <div>  Our main aim is to make the students more able and skilled so that they can create an impact on the industry.
              It is a well known fact that the educational instituions have long lost the practical aspect in them.
              Technol is set to change this with its’s new approach to the Trainings.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-head-text"> AFFORDABLE </div>
            <div class="card-image">
              <img src="https://img.icons8.com/color/48/000000/average-2.png">
            </div>
            <div class="card-body-text">
              <div>
                Technol is basically “Technology for All”and we stick by this.
                All our products and
                services are at a much lower prices than all others in the market. We
                remove all the fanciness and just talk technical to enable us to cut all the
                extra expenses.
                No hidden charges just pure learning for the students.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-head-text">WORKING DOMAIN</div>
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/96/000000/domain.png">
            </div>
            <div class="card-body-text">
              <div> When we say “ Technol is a organization for the students, by the students
                and to the students.” We mean this .
                We have two parts to our working:
              </div>
              <div>
                1. The training part which includes practical teaching of the students of
                school and colleges in the latest technologies. That will make them
                more able as an engineer or even a technocrat.
              </div>
              <div> 2. The other part of our organization is to create future ready projects
                which will enable businesses to solve their problems and give them
                more outreach.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="w-100" id="community">
      <div class="community-heading text-center pt-4"> <span class="community-heading-span"> COMMUNITY </span> </div>
      <div class="community-text-body row w-90 mx-auto pb-4">
        <div class="col-12 col-md-3 text-center">
          <div class="business-number">10 + </div>
          <div class="business-text">Client-Projects done</div>
        </div>

        <div class="col-12 col-md-3 text-center">
          <div class="business-number">100 +  </div>
          <div class="business-text">Students Trained</div>
        </div>

        <div class="col-12 col-md-3 text-center">
          <div class="business-number">4 + </div>
          <div class="business-text">Indigenous Projects</div>
         </div>

        <div class="col-12 col-md-3 text-center business-text d-flex align-items-center">
          We are currently open in India and Nepal.
        </div>
      </div>
    </div>


    <div class="mx-auto" id="reviewContainer">
      <div class="row">
        <div class="col-md-6">
          <div class="review-card d-flex"  data-aos="flip-up">
            <div>
                <img src="{% static 'images/review1.jpg' %}" class="user-review-image">
            </div>
            <div class="ml-2 d-flex flex-column">
              <div class="user-review-text"> "Technol gave me a new way to learn things." </div>
              <div class="user-name mt-auto align-self-start"> Arielle Marine </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="review-card d-flex"  data-aos="flip-up">
            <div>
                <img src="{% static 'images/review2.jpg' %}" class="user-review-image">
            </div>
            <div class="ml-2 d-flex flex-column">
              <div class="user-review-text"> "What I love about Technol is the direction and the guidance I got here." </div>
              <div class="user-name mt-auto align-self-start"> Marie Anderson </div>
            </div>
          </div>
        </div>

          <div class="col-md-6">
            <div class="review-card d-flex"  data-aos="flip-up">
              <div>
                <img src="{% static 'images/review3.jpg' %}" class="user-review-image">
              </div>
              <div class="ml-2 d-flex flex-column">
                <div class="user-review-text"> "I got the job, I got the skills, I got Technol :). " </div>
                <div class="user-name mt-auto align-self-start"> Louis Clay </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="review-card d-flex"  data-aos="flip-up">
              <div>
                <img src="{% static 'images/review4.jpg' %}" class="user-review-image">
              </div>
              <div class="ml-2 d-flex flex-column">
                <div class="user-review-text"> "Need to learn something new, Technol it." </div>
                <div class="user-name mt-auto align-self-start"> Harry James </div>
              </div>
            </div>
          </div>
      </div>

    </div>

    <section class="row footer w-100 mx-0">
        <address class="col-md-3 col-12">
            <div class="address-header">India office</div>
            <div class="address-body">
              <div>Jammu - Akhnoor highway </div>
              <div> Akhnoor </div>
              <div> 181122 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-header">Nepal office</div>
            <div class="address-body">
              <div> Jahada Road </div>
              <div> Biratnagar-13 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-mail-id"> <a href="mailto:technol.ltd@gmail.com">technol.ltd@gmail.com</a> </div>
            <div> +91 9149673464 </div>
            <div>+977 9840641513 </div>
            <div>+977 9815774674 </div>
        </address>

      <div class="col-3 text-right">
        <button class="contact-us-button btn"  data-toggle="modal" data-target="#contactModal"> Contact Us </button>

        <!-- The Modal -->
        <div class="modal" id="contactModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <!-- Modal body -->
              <div class="modal-body">
                <button type="button" class="close mb-2" data-dismiss="modal">&times;</button>

                <form id="contactForm" class="text-center">
                  <div class="form-group">
                    <input type="text" id="firstName" name="firstName" class="form-control contact-us-form-element" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" id="emailAddress" name="emailAddress" class="form-control contact-us-form-element" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control contact-us-form-element" placeholder="Phone Number">
                  </div>
                  <div class="form-group">
                    <textarea id="subject" name="subject" class="form-control contact-us-form-element" placeholder="Write something..."></textarea>
                  </div>
                  <div class="contact-us-form-element-element">
                    <button class="btn" id="contact-send-button"> Send </button>
                    <button class="btn" id="contact-cancel-button"> Cancel </button>
                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>
  </body>
</html>
<script>

AOS.init();
var textWrapper = document.querySelector('.header-text');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.header-text .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: function(el, i) {
      return 150 * (i+1)
    }
  }).add({
    targets: '..header-text',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

  var textWrapper = document.querySelector('.why-technol-container-text .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
    .add({
      targets: '.why-technol-container-text .line',
      scaleX: [0,1],
      opacity: [0.5,1],
      easing: "easeInOutExpo",
      duration: 1100
    }).add({
      targets: '.why-technol-container-text .letter',
      opacity: [0,1],
      translateX: [40,0],
      translateZ: 0,
      scaleX: [0.3, 1],
      easing: "easeOutExpo",
      duration: 1000,
      offset: '-=600',
      delay: function(el, i) {
        return 150 + 25 * i;
      }
    }).add({
      targets: '.why-technol-container-text',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 2000
    });

$(document).ready(function() {


});

</script>
