<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/aos.css" >
    <link rel="stylesheet" href="css/technol.css" >


    <title>Technol</title>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/anime.min.js"></script>
    <script src="js/aos.js" ></script>
  </head>


  <body>
    <header class="row mx-auto" style="width:90%;">
      <div class=" col-12 col-md-3 logo-container">
        <a href="homePage.html"><img src="images/logo.png" alt="Technol"></a>
      </div>
      <h4 class=" col-12 col-md-7 mt-2 header-text text-justify font-italic"> "Technol is FOR the students, BY the students
      and TO the students." </h4>

      <div class="col-md-2 social-icon-container d-flex justify-content-end align-items-center">
        <a href="https://www.facebook.com/Technolsol/" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/color/48/000000/facebook-circled.png">
        </a>
        <a href="https://twitter.com/Technolsol" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/nolan/64/000000/twitter.png">
        </a>
        <a href="https://www.youtube.com/channel/UCAP_bgDLLBUjicukBSy42yQ" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/bubbles/50/000000/youtube.png">
        </a>
      </div>
    </header>

    <div class="intro-container mx-auto">

    </div>

    <nav class="mx-auto">
      <ul class="nav-links d-flex flex-wrap  justify-content-center">
        <li><a class="nav-link" href="homePage.html">Home</a></li>
        <li><a class="nav-link" href="services.html">Services</a></li>
        <li><a class="nav-link" href="history.html">History</a></li>
        <li><a class="nav-link" href="training.html">Training</a></li>
        <li><a class="nav-link" href="about us.html">About Us</a></li>
      </ul>
    </nav>

    <div class="container my-4 py-4">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="text-justify">
            Technol believes in revolutionary products that can create an impact through innovation and creative approach.
            Technol provides Business solutions to individuals and Organizations for all their Technological needs.
            Development for us is a collbarative process where You and Us create products that suit your needs and solve
            all of your problems.
          </div>

          <div class= "d-flex">
              <div> <i class="fa fa-check-circle"></i> </div>
              <div>Talented team of developers, ready to put in their best efforts. </div>
          </div>
          <div class= "d-flex">
              <div> <i class="fa fa-check-circle"></i> </div>
              <div>Effective communication and Full Transparency. </div>
          </div>
          <div class= "d-flex">
              <div> <i class="fa fa-check-circle"></i> </div>
              <div>Best And Affordable Prices. </div>
          </div>
          <div class= "d-flex">
              <div> <i class="fa fa-check-circle"></i> </div>
              <div>Full Technical and Managerial Support. </div>
          </div>

        </div>
        <div class="service-header col-12 col-md-5 d-flex justify-content-center justify-content-md-end">
          <img src ="/F:/Technol/images/solution1-removebg-preview.png" class="w-80 h-80">
        </div>
      </div>
  </div>

    <div class="services-type-container w-80 mx-auto">

      <div class="services-type-section" data-aos="flip-up">
        <div class="panel-header btn  btn-info rounded-0">
          1. Digital Marketing
        </div>
        <div class="panel-body d-none row mx-0"  >
          <div class="col-sm-12 col-md-6 text-justify py-4 d-flex flex-column">
            Go viral and let your business take over all the Scoial Media.
            Get Digital Marketing Solutions for your business today. Forget the Contemporary adsand  Enter the world of digital ads where you get a larger audience and at a reasonable price.
            <p> Through SEO experts and Social media Management,likes and followers are going to pour in. </p>
            <p> Conquer Facebook, Instagram, Youtube, Twitter, and all of them. </p>
            <strong class="margin-top-auto">Be Popular. Digital MArketing with Technol. Contact for details.</strong>
          </div>
          <div class="col-sm-12 col-md-6 p-0"> <img src="images/digital_marketing.jpg" class="w-100 h-100" alt="image"> </div>
        </div>
      </div>

      <div class="services-type-section" data-aos="flip-up">
        <div class="panel-header btn  btn-info rounded-0 ">
          2. Portfolio Websites
        </div>
        <div class="panel-body d-none row mx-0"  >
          <div class="col-sm-12 col-md-6 text-justify py-4 d-flex flex-column">
            Technol portfolios are the modern way to showcase all about your personal, educational and professional
            qualifications.
            <p> A One page Website that looks simple and beautiful yet tells all about you. </p>
            <p> For Business personals, Job seekers and professionals this is the best place to tell about themselves.
             Get help from our experienced team with top quality original content and mesmerizing designs. </p>
            <strong  class="margin-top-auto"> Upgrade Your Resume Get a Technol Portfolio.Contact Us to Know More.     </strong>
          </div>
          <div class="col-sm-12 col-md-6 p-0"> <img src="images/portfolio_website.jpeg" class="w-100 h-100" alt="image"> </div>
        </div>
      </div>

      <div class="services-type-section" data-aos="flip-up">
        <div class="panel-header btn  btn-info rounded-0">
          3. Home Automation
        </div>
        <div class="panel-body d-none row mx-0"  >
          <div class="col-sm-12 col-md-6 text-justify py-4 d-flex flex-column">
            <p>Step in to the future with Technol Automation.</p>
            <p> Customised according to your needs and environment setup. Technol takes convenience and luxury
             to the next step in   your budget.</p>
            Party attraction, energy saving or security whatever your reason be, we give it to You.
            <p> Also Check Demo in the <a href="https://www.youtube.com/watch?v=Yc6_v0VTvsg" >video </a> </p>
            <strong  class="margin-top-auto">Automate Today. Contact us to Know more.</strong>
          </div>
          <div class="col-sm-12 col-md-6 p-0"> <img src="images/home_automation.jpeg" class="w-100 h-100" alt="image"> </div>
        </div>
      </div>

      <div class="services-type-section" data-aos="flip-up">
        <div class="panel-header btn  btn-info rounded-0">
          4. Website Designing
        </div>
        <div class="panel-body d-none row mx-0"  >
          <div class="col-sm-12 col-md-6 text-justify py-4 d-flex flex-column">
            Take your businesses global with Technol, Get a Website. Our Developers Designs websites that suit your
            business needs and solve all your operational and management problems.
            <p>
                For all  businesses or organisations this is the new way of commerce.
            </p>
            Interact with the customers, get Feedback and Reach a larger group of audience.
            <p> We give Technical support and maintenance so that your organization runs smooth.  </p>
            <strong class="margin-top-auto" >Get wwwed today. Contact us to know more.</strong>
          </div>
          <div class="col-sm-12 col-md-6 p-0"> <img src="images/website-designing.jpeg" class="w-100 h-100" alt="image"> </div>
        </div>
      </div>


      <div class="services-type-section" data-aos="flip-up">
        <div class="panel-header btn  btn-info rounded-0">
          5. Software Solutions
        </div>
        <div class="panel-body d-none row mx-0"  >
          <div class="col-sm-12 col-md-6 text-justify py-4 d-flex flex-column">
            Solve all your Data and Customer Management problems with Technol Software Solutions.
            <p> Softwares that are Reliable, secure, customised for your needs and Easy to use.</p>
            <p> We create a user-friendly interface that fits right into the pre existing formats.</p>
            <strong class="margin-top-auto">Contact us to get Something made just for you.</strong>
          </div>
          <div class="col-sm-12 col-md-6 p-0"> <img src="images/software_development.jpg" class="w-100 h-100" alt="image"> </div>
        </div>
      </div>

      <div class="services-type-section" data-aos="flip-up">
        <div class="panel-header btn  btn-info rounded-0">
          6. Mobile App Development
        </div>
        <div class="panel-body d-none row mx-0"  >
          <div class="col-sm-12 col-md-6 text-justify py-4 d-flex flex-column">
            Control your business from your hand. Satisfy customer requirement, manage stock, get Feedback and much much more
            at the touch of your finger.
            <p>
                Wait no more And Get a Technol Android Mobile-app Today.
            </p>
            <p>
                We provide full suport from planning the design to publishing to the Playstore. We take care even after that.
            </p>
            <strong class="margin-top-auto"> Let Android Revolutionise your business. Contact for more info.</strong>
          </div>
          <div class="col-sm-12 col-md-6 p-0"> <img src="images/mobile_app.jpeg" class="w-100 h-100" alt="image"> </div>
        </div>
      </div>

    </div>

    <section class="row footer w-100 mx-0">
        <address class="col-md-3 col-12">
            <div class="address-header">India office</div>
            <div class="address-body">
              <div>Jammu - Akhnoor highway </div>
              <div> Akhnoor </div>
              <div> 181122 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-header">Nepal office</div>
            <div class="address-body">
              <div> Jahada Road </div>
              <div> Biratnagar-13 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-mail-id"> <a href="mailto:technol.ltd@gmail.com">technol.ltd@gmail.com</a> </div>
            <div> +91 9149673464 </div>
            <div>+977 9840641513 </div>
            <div>+977 9815774674 </div>
        </address>

      <div class="col-3 text-right">
        <button class="contact-us-button btn"  data-toggle="modal" data-target="#contactModal"> Contact Us </button>

        <!-- The Modal -->
        <div class="modal" id="contactModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <!-- Modal body -->
              <div class="modal-body">
                <button type="button" class="close mb-2" data-dismiss="modal">&times;</button>

                <form id="contactForm" class="text-center">
                  <div class="form-group">
                    <input type="text" id="firstName" name="firstName" class="form-control contact-us-form-element" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" id="emailAddress" name="emailAddress" class="form-control contact-us-form-element" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control contact-us-form-element" placeholder="Phone Number">
                  </div>
                  <div class="form-group">
                    <textarea id="subject" name="subject" class="form-control contact-us-form-element" placeholder="Write something..."></textarea>
                  </div>
                  <div class="contact-us-form-element-element">
                    <button class="btn" id="contact-send-button"> Send </button>
                    <button class="btn" id="contact-cancel-button"> Cancel </button>
                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>

  </body>
</html>
<script>
AOS.init();
$(".intro-container").css("background-image", "url('/F:/Technol/images/services.jpg')");

$(document).ready( function() {
  $(".panel-header").click(function () {
      $(this).toggleClass("btn-info btn-danger");
      $(this).siblings(".panel-body").toggleClass("d-none");
  });


});
</script>
