<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/aos.css" >
    <link rel="stylesheet" href="css/technol.css" >

    <title>Technol</title>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/anime.min.js"></script>
    <script src="js/aos.js" ></script>
  </head>


  <body>
    <header class="row mx-auto" style="width:90%;">
      <div class=" col-12 col-md-3 logo-container">
        <a href="homePage.html"><img src="images/logo.png" alt="Technol"></a>
      </div>
      <h4 class=" col-12 col-md-7 mt-2 header-text text-justify font-italic"> "Technol is FOR the students, BY the students
      and TO the students." </h4>

      <div class="col-md-2 social-icon-container d-flex justify-content-end align-items-center">
        <a href="https://www.facebook.com/Technolsol/" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/color/48/000000/facebook-circled.png">
        </a>
        <a href="https://twitter.com/Technolsol" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/nolan/64/000000/twitter.png">
        </a>
        <a href="https://www.youtube.com/channel/UCAP_bgDLLBUjicukBSy42yQ" target="_blank">
          <img class="social-icon" src="https://img.icons8.com/bubbles/50/000000/youtube.png">
        </a>
      </div>
    </header>

    <div class="intro-container mx-auto">
      <div class="intro-text-container">
      </div>
    </div>

    <nav class="mx-auto">
      <ul class="nav-links d-flex flex-wrap  justify-content-center">
        <li><a class="nav-link" href="homePage.html">Home</a></li>
        <li><a class="nav-link" href="services.html">Services</a></li>
        <li><a class="nav-link" href="history.html">History</a></li>
        <li><a class="nav-link" href="training.html">Training</a></li>
        <li><a class="nav-link" href="about us.html">About Us</a></li>
      </ul>
    </nav>

    <div class="w-75 mx-auto my-4">
      <div class="">Technol is revolutionising the Training of the students in multiple ways. </div>
      <div class="row mx-0 mt-4">
        <div class="col-12 col-md-6 mt-2">
          <img src="images/man.png" class="mw-100 mh-100">
        </div>

        <div class="col-12 col-md-6 mt-2">
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
              <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
              <div class="w-85">New Technologies</div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85">Future Ready Projects</div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85">Hands-On Experience </div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85">Wallet Healthy</div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85"> Lifetime Technical and project support</div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85">Internship opportunity</div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85">24x7 Support thorugh Whatsapp Groups </div>
          </div>
          <div class= "d-flex align-items-md-center lh-1_8 mb-1">
            <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" class="w-5vh align-self-start mr-1">
            <div class="w-85">Loyalty Discount on the Next Training</div>
          </div>
        </div>

      </div>


      <div class="row mx-0 mt-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/robo_king.jpg">
            </div>
            <div class="course-name mt-3">
              Robotics (The Robo King)
            </div>
            <div class="d-none course-module-info">  We call this module the Robo king as the students become the true king of robotics.
                Our syllabus is so designed that it brings out the curiosity of the students.
                Without putting much stress on the coding part we teach more about practical implications of the components.
                The students build their own robots and seeing them work brings joy not only to them but us too.
                <div>  <a href ='the robo-king_final.pdf' download> Know More. </a></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/website_design.jpg">
            </div>
            <div class="course-name mt-3">
              Website Designing (The Web King)
            </div>
            <div class="d-none course-module-info">We take the students to the world of Internet where they showcase their skills with our help to the
              wordwide audience.
                The students Learn about HTML and how it is used to build a website tag by tag. Our Teaching approach not only makes
                 it easier but also the students enjoy their first letters of code.
                See how Students showcase their creative skills through these websites and explore more about the internet and about
                themselves.
                <div> <a href ='the web-king_final.pdf' download> Know More.  </a></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/basic_beginner.jpg">
            </div>
            <div class="course-name mt-3">
              The Basic Beginner
            </div>
            <div class="d-none course-module-info">This is perhaps the most wide and customizable course that Technol offers.
                This targets the audience who want something more according to their needs, something that fits their needs.
                This course customized according to your needs and your technological interest.
                We collaborate with students and teachers to create new courses that they want.
                It can be anything from a basic computer course to a course in C, C++ or any other technology you want.
                Contact Us To Know more.
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/robotics_2.jpg">
            </div>
            <div class="course-name mt-3">
              Robotics – Amateur mode
            </div>
            <div class="d-none course-module-info"> Ever wondered how these complex pieces of technology all around us work.
                How all these copper wires and some sensors form these beautiful technological marvels, Then you are on the right path.
                Technol takes you for the journey into the introductory journey of Robotics.
                Learn the basics of Arduino, microcontroller and  some small yet powerful motorised vehicles.
                Get those wires tangle them around and create something you could call your own.
                <div>  <a href ='the robo-king_final.pdf' download> Know More. </a> </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/iot.jpg">
            </div>
            <div class="course-name mt-3">
              Robotics with IOT – Legendary mode
            </div>
            <div class="d-none course-module-info">
              So you think you know it all, Come try this course.
                Jump right off into the Advance Robotics department with more advanced projects.
                Learn things like Internet of Things, Home automation and advanced Robotics.
                Make innovative indie projects with Technol and put all your crazy yet innovative idea to test.
                Learn to solve basic world problems with Innovative ideas and become a master of the Robotics domain.
                <div>  <a href ='the robo-king_final.pdf' download> Know More. </a> </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/the_python_catcher.jpeg">
            </div>
            <div class="course-name mt-3">
              The Python Catcher
            </div>
            <div class="d-none course-module-info">Technol presents you with the most powerful yet so simple  programming language of all.
                Learn how this easy to learn language has limitless possibilities from creating simple programs to creating a full GUI, learn it all.
                Scrape off the web and create complete web applications.
                Use and create APIs, all of this with the help of one Language.
                <div>   <a href ='python module _N.pdf' download> Know More. </a> </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/data_analysis.jpg">
            </div>
            <div class="course-name mt-3">
              Data Analysis and Machine Learning
            </div>
            <div class="d-none course-module-info">
              Heard about AI and Machine learning but don’t know what that is and how it works. Learn it with Technol.
               Artificial Intelligence has already arrived and if you are not ready this is probably the best opportunity for you.
                  Come with Technol and Learn this Future essential.
                  Learn the mathematical concepts and reasoning behind every action.
                  Learn working, analyzing and visualizing data. Learn the most advanced Learning and predicting algorithms in the most simple way.
                  Technol uses a specially designed platform to make the concepts much more easier to understand.
                  <div> <a href ='DS &ML module.pdf' download> Know More. </a></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/website_maker.png">
            </div>
            <div class="course-name mt-3">
              The Website Maker
            </div>
            <div class="d-none course-module-info">
              Get the Complete website Development package. Learn to create Internet Ready websites with the latest
                      technologies.
                  Technol teaches you how to be the complete front End Developer with this course.
                  Starting off from the very basics to the latest and most in-demand tools of website making. Learn all that goes into making a Completely dynamic responsive website.
                  Also Learn about other essential tools.
                  Let your creative side take over and mix with the coder in you and see how they create beautiful and stunning websites.
                <div> <a href ='the web king _new_N_collg.pdf' download> Know More. </a> </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course-card" >
            <img src="https://img.icons8.com/officel/40/000000/info.png" class="info-icon d-none">
            <div class="course-thumbnail">
              <img src ="images/courses/android_development.jpg">
            </div>
            <div class="course-name mt-3">
               Android Development
            </div>
            <div class="d-none course-module-info">
              It’s time you showcased your skills on the Google play store.
                  Learn and create your own android applications with Technol.
                  Learn Java and then take a deep dive into the open world of Android.
                  Be amazed with it’s limitless possibilities and how simple yet so powerful apps are created.
                  Create some for yourself and show your presence on the play store.

                  <div> Module Coming Soon </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="modal fade" id="courseInformation" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modal Header</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    <section class="row footer w-100 mx-0">
        <address class="col-md-3 col-12">
            <div class="address-header">India office</div>
            <div class="address-body">
              <div>Jammu - Akhnoor highway </div>
              <div> Akhnoor </div>
              <div> 181122 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-header">Nepal office</div>
            <div class="address-body">
              <div> Jahada Road </div>
              <div> Biratnagar-13 </div>
            </div>
        </address>
        <address class="col-md-3 col-12">
            <div class="address-mail-id"> <a href="mailto:technol.ltd@gmail.com">technol.ltd@gmail.com</a> </div>
            <div> +91 9149673464 </div>
            <div>+977 9840641513 </div>
            <div>+977 9815774674 </div>
        </address>

      <div class="col-3 text-right">
        <button class="contact-us-button btn"  data-toggle="modal" data-target="#contactModal"> Contact Us </button>

        <!-- The Modal -->
        <div class="modal" id="contactModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <!-- Modal body -->
              <div class="modal-body">
                <button type="button" class="close mb-2" data-dismiss="modal">&times;</button>

                <form id="contactForm" class="text-center">
                  <div class="form-group">
                    <input type="text" id="firstName" name="firstName" class="form-control contact-us-form-element" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" id="emailAddress" name="emailAddress" class="form-control contact-us-form-element" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control contact-us-form-element" placeholder="Phone Number">
                  </div>
                  <div class="form-group">
                    <textarea id="subject" name="subject" class="form-control contact-us-form-element" placeholder="Write something..."></textarea>
                  </div>
                  <div class="contact-us-form-element-element">
                    <button class="btn" id="contact-send-button"> Send </button>
                    <button class="btn" id="contact-cancel-button"> Cancel </button>
                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>
  </body>

  <script>
    AOS.init();
    $(".intro-container").css("background-image", "url('/F:/Technol/images/training1.jpg')");

    $(".course-card").on("mouseenter", function() {
      $(this).find(".course-name").removeClass("mt-3");
      $(this).find(".info-icon").removeClass("d-none");
    });

    $(".course-card").on("mouseleave", function() {
      $(this).find(".course-name").addClass("mt-3");
      $(this).find(".info-icon").addClass("d-none");
    });

    $(".info-icon").click( function() {
      $("#courseInformation").modal();
      let modalTitle = $(this).siblings('.course-name').html();
      let modalBody = $(this).siblings('.course-module-info').html();
      $(".modal-title").html(modalTitle);
      $(".modal-body").html(modalBody);
    });
  </script>

</html>
